[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
flake8 = "*"
autopep8 = "*"

[packages]
config-guiosoft = "*"

[requires]
python_version = "3.8"
